body{
    padding: 0;
    margin: 0;
}

ul {
  list-style-type: none;
}

.topnav{
    background-color: #e74c3c;
    overflow: hidden;
    left: 0px;
    margin-bottom: 10px;
}

.topnav  a{

    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav  a:hover {
    background-color: #f1c40f;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: #34495e;
}

/* Side Menu  */

.sidenav{
  width:10;
  position: relative;
  left: 0px;
}

.mainmenu, .submenu{
  list-style:none;
  margin:0;
  padding:0;
}

.mainmenu a {
  display: block;
  background-color: #34495E;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border-left: 8px solid #EE7469;
}

.mainmenu a:hover {
    background-color: #B0DACC;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 600px;
}

.submenu a {
  background-color: #2980B9;
}

.submenu a:hover {
  background-color: #9DA5A6;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}


/* Side Menu End */

#container {
    /*width: 1400px;*/
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    padding: 15px;
}

#main {
    /*width: 600px;*/
    /*position: relative;*/
    margin: auto;
    margin-left: 170px;
    width: 50%;
    float: left;
    background-color: burlywood;

}

#sidebar {
    /*width: 650px;*/
    width: 30%;
    float: left;
    background-color: #EB6361;
    color: white;
    text-align: center;
    font-size: 20px;
}

.side-items{
  background: white;
  color: black;
  font-family: monospace;
}
.sidelist-holder li:nth-child(even) {
    background: lightblue;
}


/*.side-items:nth-child(2) {
    background: lightblue;
}*/

li#sidelist{
    text-align: left;
    list-style-type: none;
}

table tr th{
    display: table-cell;
    line-height: 1.125rem;
}

#main table {
    width: 100%;
    background-color: #2980b9;
    color: white;
    border-collapse: collapse;
    border: 3px solid #f39c12;
}

/*tr :hover {
    cursor: pointer;
    background-color: gainsboro;
}*/

tr.item-row:hover{
    cursor: pointer;
    background: blue;
}

#item-table td {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 30px;
}

.row : hover{
    cursor: pointer;
    background-color: yellowgreen;
    border: 2px solid #e74c3c;
}

tr:nth-child(even) {background-color: #3498db}

#item-name{
    width: 80%;
    padding-left: 20px;
    position: relative;
}

div {
    padding: 15px;
}

td {
    padding-bottom: 20px;
}

div#sidebar {
    position: fixed;
    float: right;
    right: 0;
}
.overview-top{
  font: verdana;
  background-color: #EB9532;
  padding: 10px;
  text-align: center;
  font-size: 60px;

}

.overview {
  text-align: center;
  background-color: #83D6DE;
  float: left;
  /*padding-right: 30px;*/
  margin-right: 30px;
}

.overview-heading{
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
}

.overview-amount{
  margin-top: 10px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  color: #282830;
  margin-bottom: 0px;
}

.dropdown-menu a {
  display: inline-block;
  position: relative;
  background-color: black;
  float: bottom;
}
